/* Universal Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

/* Variables */
:root {
  --primaryColor: #000;
  --secondaryColor: #fff;
  --defaultShadow: 2px 2px 5px #000;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* table */
.container table tr td {
  border: 1px solid #000;
  position: relative;
  display: inline-grid;
  align-items: center;
  justify-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.container table tr td:first-child,
.container table tr td:nth-child(2),
.container table tr td:nth-child(3) {
  border-top: none;
}
.container table tr td:nth-child(3n + 1) {
  border-left: none;
}

.container table tr td:nth-child(3n + 3) {
  border-right: none;
}

.container table tr .lineRemove {
  border-bottom: none;
}

/* circle */
.redMark::before,
.redMark::after {
  content: "";
  transform: translate(-50%, -50%);
  bottom: 0;
  top: 50%;
  left: 50%;
  border-radius: 100%;
}

.redMark::before {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: red;
}

td[class*="redMark"]:hover,
td[class*="yellowMark"]:hover {
  cursor: not-allowed;
}

.redMark::after {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.yellowMark::before,
.yellowMark::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
}

.yellowMark::before {
  transform: rotate(45deg);
  background-color: yellow;
}

.yellowMark::after {
  transform: rotate(-45deg);

  background-color: yellow;
}

/* Player Turn */
.container .playerTurn {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.winMessage {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.winMessage p {
  font-size: 40px;
  color: white;
}

.winMessage .restartGame {
  outline: none;
  width: 30%;
  min-height: 50px;
  height: 5%;
  font-size: 18px;
  margin-top: 10px;
}

.winMessage .restartGame:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: #000;
}

.showMessage {
  display: none;
}
